@import '../../../common/stylus/mixins.styl'

.category-container
	height 100px

	.category-main
		height 100%
		margin-left 162px
		padding 30px 30px 120px

		.category-bigImg
			width 528px
			height 192px
			margin-bottom 30px

		ul
			display flex
			flex-wrap wrap
			width 100%

			li
				text-align center
				width 144px
				margin-right 30px

				img
					width 144px
					height 144px
