.gift-container
	padding 0 30px
	margin-bottom 30px

	.name
		font-size 32px
		height 90px
		line-height 90px
		text-align center

	.gift-box
		display flex
		font-size 32px

		.gift-left
			flex 5
			text-align center
			margin-right 5px
			background-color #F9E9CF

			span
				display block
				margin-top 30px

			img
				margin 20px auto

		.gift-right
			flex 5

			.gift-right-top, .gift-right-bottom
				display flex
				justify-content space-around
				margin-bottom 5px

				img
					width 200px
					height 200px

				.title
					display flex
					font-size 32px
					flex-direction column

					span
						font-size 24px
						margin-top 10px
						color #777

			.gift-right-top
				flex 5
				background-color #FBE2D3

			.gift-right-bottom
				flex 5
				background-color #FFECC2
