@import '../../../../common/stylus/mixins.styl'

.nav-container
	padding-bottom 30px
	background-color #F4F4F4

	.nav-box
		clearFix()
		text-align center

		.nav-item
			float left
			width 110px
			height 156px
			margin 10px 20px 9px

			img
				width 110px
				height 110px
				margin-bottom 10px

			span
				font-size 24px
				width 110px
				height 36px
				margin-top 10px
