@import '../../../../common/stylus/mixins.styl'

.time-container
	.time-header
		display flex
		justify-content space-between
		height 100px
		font-size 30px
		line-height 100px
		padding 0 30px

		.header-top
			display flex

			.time-down
				span
					font-size 24px

					&:nth-of-type(odd)
						padding 5px
						color #fff
						background-color #000
						border-radius 5px
						margin 0 10px

					&:nth-of-type(even)
						height 36px

		.header-bottom
			i
				width 30px
				height 30px
				font-size 30px

	.time-list
		clearFix()
		padding 0 10px 0 30px

		li
			float left
			width 216px
			height 270px
			margin-right 20px
			padding-bottom 30px

			img
				width 216px
				height 216px
				background-color #f5f5f5

			.good-price
				height 40px
				line-height 40px
				padding 0 0 0 10px
				margin-top 10px

				.new-price
					font-size 28px
					color $red

				.old-price
					font-size 24px
					color #777
					text-decoration line-through
