@import '../../../../common/stylus/mixins.styl'

.page
	.swiper-container
		width 750px
		height 400px

		img
			width 100%
			height 100%

		.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets
			width 100%
			height 4px
			bottom 50px

			.swiper-pagination-customs
				width 40px
				height 4px
				display inline-block
				margin-right 10px
				background-color rgba(255, 255, 255, 0.5)

			.swiper-pagination-customs-active
				width 40px
				height 4px
				display inline-block
				border-radius 2px
				background-color $red
