.home-container
	padding-bottom 100px

	.home-main
		height 1000px

		.wangyi-grow
			display flex
			justify-content space-around
			align-items center
			height 72px

			li
				display flex

				&:nth-of-type(1)
					i
						background-image url('http://yanxuan.nosdn.127.net/a03dd909803b9ac032eba58b7253a2f6.png')

				&:nth-of-type(2)
					i
						background-image url('http://yanxuan.nosdn.127.net/2d0402ffcd52b3ec3b07422681c42a89.png')

				&:nth-of-type(3)
					i
						background-image url('http://yanxuan.nosdn.127.net/eb61ee48e8942dbd1784c9ee75ebe955.png')

				.grow-icon
					width 32px
					height 32px
					background-image url('http://yanxuan.nosdn.127.net/a03dd909803b9ac032eba58b7253a2f6.png')
					background-size 32px 32px
					background-repeat no-repeat
					background-position center
					margin 0 10px 0 0
