@import '../../common/stylus/mixins.styl'

.header-container
	position relative
	height 150px
	width 100%
	background-color #fff
	z-index 100

	.header-search-login
		display flex
		justify-content space-around
		align-items center
		width 100%
		height 88px
		font-size 30px
		padding 25px
		box-sizing border-box

		.logo
			flex 2
			height 40px
			background-image url('http://yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/indexLogo-a90bdaae6b.png')
			background-repeat no-repeat
			background-size 138px 40px
			background-position center
			margin-right 10px

		.searchInput
			flex 7
			height 56px
			border-radius 10px
			border none
			background-color rgba(0, 0, 0, 0.1)
			text-align center
			line-height 56px

			i
				font-size 30px

			.placeholder
				font-size 30px
				color #666

		button
			flex 1
			height 40px
			margin-left 10px
			font-size 24px
			border-radius 10px
			outline none
			color $red
			border 1px solid $red
			background-color #fff

	.header-nav
		position relative
		width 100%
		height 60px
		overflow hidden

		.header-nav-left
			width 1650px
			font-size 30px
			height 60px

			li
				float left
				height 50px
				margin 5px 20px
				padding 0 10px
				text-align center

				&.active
					border-bottom 4px solid $red
					color $red

		.header-nav-arrow
			position absolute
			right 0
			top 0
			width 100px
			height 60px
			font-size 30px
			text-align center
			line-height 60px
			background-color #fff

	.navbox-wrapper
		.nav-box
			position absolute
			left 0
			top 90px
			width 100%
			z-index 10
			background-color #fff

			.all-category
				display flex
				justify-content space-between
				/* position relative */
				font-size 30px
				height 60px
				line-height 60px
				margin 0 0 20px
				text-align center

				span
					margin-left 30px

				i
					width 100px
					height 60px
					font-size 30px

			ul
				clearFix()
				width 100%
				font-size 24px
				text-align center
				box-sizing border-box

				li
					float left
					width 150px
					height 56px
					text-align center
					line-height 56px
					border-radius 5px
					margin 0 0 40px 30px
					background-color #FAFAFA
					box-sizing border-box

					&.on
						border 1px solid $red
						color $red

		.mask
			width 100%
			height 100%
			background-color rgba(0, 0, 0, 0.1)
